
DMS/data/testJinnan/jinnan_round1_submit_20181227.csv
DMS/data/testJinnan/jinnan_round1_testA_20181227.csv
DMS/data/testJinnan/jinnan_round1_train_20181227.csv
DMS/data/testLagouSpider/LagouSpider.xls
DMS/data/testO2O/In/ccf_offline_stage1_test_revised_temp.csv
DMS/data/testO2O/In/ccf_offline_stage1_test_revised.csv
DMS/data/testO2O/In/ccf_offline_stage1_train.csv
DMS/data/testO2O/In/ccf_offline_stage1_train_temp.csv
DMS/data/testO2O/In/ccf_online_stage1_train.csv
DMS/data/testO2O/In/ccf_online_stage1_train_temp.csv
DMS/data/testO2O/Out/sample_submission.csv
DMS/data/testO2O/Out/submit.csv
DMS/data/testO2O/temp/filename.pkl
DMS/data/testO2O/temp/data_demo.csv
DMS/data/testO2O/temp/data_train.csv
DMS/data/testJinnan/In/jinnan_round1_testA_20181227.csv
DMS/data/testJinnan/Out/submit.csv
DMS/data/testJinnan/temp/data_test.csv
DMS/data/testJinnan/temp/filename.pkl
DMS/data/testJinnan/Out/jinnan_round1_submit_20181227.csv
DMS/data/testJinnan/temp/data_train.csv
DMS/data/testJinnan/In/jinnan_round1_train_20181227.csv
DMS/data/testJinnan/In/jinnan_round1_testB_20190121.csv
DMS/data/testJinnan/Out/submit20190122.csv
